body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
}
.main_section {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: #fff;
  margin: 40px auto;
}
/* Main contant */
.main_contant {
  padding: 100px 90px;
}
.main_contant_title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  margin-bottom: 10px;
}
/* About me section */
.about_me_section {
  margin-bottom: 40px;
}
.about_me_profession {
  font-size: 14px;
  color: #000;
  font-style: normal;
  font-weight: bold;
  line-height: 17px;
  margin-bottom: 20px;
}
.about_me_name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 25px;
  color: #000;
}
.about_me_description {
  width: 400px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
/* My projects section */
.my_projects_section {
  margin-bottom: 50px;
}
.my_projects_list {
  padding: 0 0 0 17px;
}
.my_projects_item {
  color: #000;
  font-weight: bold;
}
.my_projects_text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #696969;
  margin-left: 5px;
}
.my_projects_link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #696969;
}
.my_projects_bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}
/* My work experience */
.my_work_experience_company {
  color: #fb6d3a;
}
.education {
}

/* sidebar section */
.sidebar_section {
  background-color: #1e2939;
  width: 370px;
  padding: 40px 0;
}
.contacts_section {
  margin: 50px 0 0 40px;
}
.tech_skills {
  margin: 50px 0 0 40px;
}
.soft_skills {
  margin: 45px 0 0 40px;
}
.sidebar_title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  margin-bottom: 10px;
}
/* Contacts section */
.contacts_section_type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-right: 5px;
}
.contacts_section_link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #565e6a;
}
/* Tech skills */
.tech_skills_list {
  padding: 0 0 0 17px;
}
/* Soft skills */
.soft_skills_list {
  padding: 0 0 0 17px;
}
.tech_skills_item {
  color: #fb6d3a;
}
.soft_skills_item {
  color: #fb6d3a;
}
.tech_skills_item_text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
.soft_skills_item_text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
