body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
}
.main_section {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: #fff;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
/* Main contant section */
.main_contant {
  padding: 100px 90px;
}
.main_contant_title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  margin-bottom: 10px;
}
/* About me section */
.about_me_section {
  margin-bottom: 40px;
}
.about_me_profession {
  font-size: 14px;
  color: #000;
  font-style: normal;
  font-weight: bold;
  line-height: 17px;
  margin-bottom: 20px;
}
.about_me_name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 25px;
  color: #000;
}
.about_me_description {
  width: 400px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
/* My projects section */
.my_projects_section {
  margin-bottom: 50px;
}
.my_projects_list {
  padding: 0 0 0 17px;
}
.my_projects_item {
  color: #000;
  font-weight: bold;
}
.my_projects_text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #696969;
  margin-left: 5px;
}
.my_projects_link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #696969;
}
.my_projects_bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}
/* My work experience section*/
.my_work_experience_company_primary {
  margin-bottom: 15px;
}
.my_work_experience_position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  margin-bottom: 10px;
}
.my_work_experience_company {
  color: #fb6d3a;
}
.my_work_experience_team {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 10px;
}
.my_work_experience_divider {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #000;
}
.my_work_experience_duties {
  padding-left: 10px;
}
.my_work_experience_duty {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
/* Education section */
.education_header {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  margin-top: 45px;
}
.education_university {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin-top: 10px;
}
.education_faculty {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin: 10px 0 10px 0;
}
.education_team {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}
.education_divider {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #000;
}
/* Sidebar section */
.sidebar_section {
  background-color: #1e2939;
  width: 370px;
  padding: 40px 0;
}
.contacts_section {
  margin: 50px 0 0 40px;
}
.tech_skills {
  margin: 50px 0 0 40px;
}
.soft_skills {
  margin: 45px 0 0 40px;
}
.sidebar_title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  margin-bottom: 10px;
}
/* Contacts section */
.contacts_section_type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-right: 5px;
}
.contacts_section_link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #565e6a;
}
/* Tech skills */
.tech_skills_list {
  padding: 0 0 0 17px;
}
/* Soft skills */
.soft_skills_list {
  padding: 0 0 0 17px;
}
.tech_skills_item {
  color: #fb6d3a;
}
.soft_skills_item {
  color: #fb6d3a;
}
.tech_skills_item_text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
.soft_skills_item_text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
